<nav class="navbar navbar-default nav-background-color">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand nav-text-color" routerLink="/home">Home</a>
        <a *ngIf="user2" href="javascript:void(0)" class="navbar-brand nav-text-color" (click)="logout()">Logout</a>
        <a *ngIf="user2 =='ADMIN'" class="navbar-brand nav-text-color" routerLink="/admin">Admin</a>
        <a *ngIf="user2 =='USER'" class="navbar-brand nav-text-color" routerLink="/user">User</a>
        <a *ngIf="!user2" class="navbar-brand nav-text-color" routerLink="/signup">Signup</a>
        <a *ngIf="!user2" class="navbar-brand nav-text-color" routerLink="/login">Login</a>
    </div>
  </div>
</nav>
